/**
* All of the common css rules for the entire template.
*/

* {
    box-sizing: Border-box
    }

html, body {
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}

body {
    position : absolute;
    padding  : 0;
    margin   : 0;
    font-size: $font-base-size;
    font-family : $font-family-light;
}

div {
  @include box-sizing(border-box);
}

//
//Application Styles
//
.app-background-overlay {
    position : absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: $color-app-base-bg $img-app-background no-repeat left top;
    background-size : 100% 100%;
}

.app-background-blur {
    position: fixed;
    left: 10%;
    right: 0;
    z-index: 0;
    content: "";
    position: fixed;
    right: 0;
    z-index: 0;
    display: block;
    background-image: none;
    width: 90%;
    height: 100%;
    opacity: 0.5;
    background-size: 100% 100%;
    -webkit-filter: blur(70px);
    -webkit-transform: translate3d(0, 0, 0);
}

.app-main-container {
    position : relative;
    width    : inherit;
    height   : inherit;
    overflow : hidden;
}

.app-top-bar {
    position : absolute;
    width    : 93%;
    height   : 100%;
    right: 0;
    background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.4),  
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.0) 100%
    );
}

.app-logo {
    position : absolute;
    top: 40px;
    right    : 210px;
    width: 15%;
    height: 7%;
    img {
        width: 100%;
        height: 100%;
    }
}

.right-nav{
    position : absolute;
    top: 225px;
    left: 815px;
    display:none;
}

#right-nav-cover-image {
    width: 750px;
    height: 450px;
    background-image: $img-app-background;
    background-size: 100% 100%;
    -webkit-box-shadow: $color-theme-box-shadow;
    -moz-box-shadow: $color-theme-box-shadow;
    box-shadow: $color-theme-box-shadow;
    border: none;
}

#right-nav-cover-title {
    color    : $color-title-text;
    line-height: 1.4;
    color       : $color-theme-transparent;
    font-size   : 2.0em;
    font-family : $font-family-medium;
    overflow    : hidden;
    margin-top  : 10px;
    @include display-box;
    @include box-orient(vertical);
    @include line-clamp(1);
}

#right-nav-cover-details {
    font-weight: 200;
    font-size: 1.3em;
    color : $color-meta-secondary-text;
}

#right-nav-cover-desc {
    color       : $color-description-text;
    font-size   : 1.5em;
    height: auto;
    max-height: 230px;
    width: 83%;
    align-items : center;
    overflow: hidden;
    text-align: justify;
    @include line-clamp(7);
    word-wrap: break-word;
}

//
// Left Nav Styles
//
.leftnav-main-container {
    position : absolute;
    top    : 0;
    left   : 0;
    height : 100%;
    width  : 44%;
    margin : 0;
}

.leftnav-menu-list {
    position : absolute;
    width    : 100%;
    height   : 100%;
    padding-top: 0px;
    margin-left: 30px;
    overflow : hidden;
    background-color : $color-menu-base-bg;
    border-right: 4px solid $color-theme-transparent;
}

.leftnav-menulist-expanded {
    @extend .leftnav-menu-list;
    height : 100%;
    top    : 0;
    z-index: 100;
    width: 75%;
}

.leftnav-menulist-collapsed {
    @extend .leftnav-menu-list;
    top    : 0px;
    width: 15%;
    z-index: 900;
}

.leftnav-menulist-collapsed .leftnav-list-item-chosen{
    background: $color-menu-item-bg $img-icon-leftnav no-repeat left 50px center;
    background-size: 40px 44px;
}

.leftnav-menulist-collapsed .leftnav-list-item-static{
    background-color: $color-menu-base-bg;
    border: none;
    opacity: 0.7;
}

.leftnav-menulist-collapsed .leftnav-list-item-static:not(.leftnav-list-item-highlighted):not(.leftnav-list-item-chosen):not(.leftnav-login-box):not(.leftnav-search-box){
    display: none;
}

.leftnav-menu-scrolling-list {
    color : $color-menu-item-text;
    padding-top: 70px;
}

.leftnav-list-item-static.leftnav-list-item-chosen.subcat-header {
    position: absolute;
    top: 148px;
    width: 40%;
    background: none;
    border: none;
}

.leftnav-list-item-static {
    word-wrap    : break-word;
    line-height  : $size-leftnav-line-height;
    font-weight: lighter;
    font-size: 1.7em;
    min-height : 90px;
    padding      : 0 50px 0 $pos-left-content-position;
    overflow     : hidden;
    margin-bottom    : 2px;
    background-color : $color-menu-item-bg;
    @include transition-property(opacity);
    @include transition-duration($ani-duration-leftnav-item);
    @include display-box;
    @include box-orient(vertical);
    @include line-clamp(1);
}

.leftnav-list-item-container:first-child {
    margin-top : $pos-top-leftnav-content;
}

.leftnav-list-item-highlighted {
    color     : $color-menu-item-highlight-text;
    border-width: 1px 1px 1px 0px;
    background: $color-theme-transparent $img-icon-leftnav no-repeat left 55px center;
    background-size: 40px 44px;
    @include filter(brightness(200%));
}

.leftnav-list-item-container .leftnav-list-item-selected {
    background: $color-theme-transparent $img-icon-leftnav no-repeat left 50px center;
    background-size: 40px 44px;
}

.search-icon {
    height : 50px;
    width  : 50px;
}

.leftnav-search-box {
    border : none;
    width  : 100%;
    color  : $color-menu-search-text;
    padding-left : 140px;
    outline-width: 0;
    background: rgba(232, 232, 232, 0.0980392) $img-icon-search no-repeat scroll left 45px top 50% / 40px 44px padding-box border-box;
}

.leftnav-search-box .leftnav-list-item-highlighted {
    color     : $color-menu-item-highlight-text;
    border-color: $color-menu-item-highlight-text;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
}

.leftnav-login-box {
    border : none;
    width  : 100%;
    color  : $color-menu-search-text;
    padding-left : 140px;
    outline-width: 0;
    background: rgba(232, 232, 232, 0.0980392) $img-icon-login no-repeat scroll left 45px top 50% / 40px 44px padding-box border-box;
}

.leftnav-login-box .leftnav-list-item-highlighted {
    color     : $color-menu-item-highlight-text;
    border-color: $color-menu-item-highlight-text;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
}


//
// Full Row View
//
.one-d-no-items-container {
    position : absolute;
    display  : none;
    top      : 300px;
    right     : 300px;
    color    : $color-title-text;
    font-size: 3em;
}

.one-D-details-container {
    position : absolute;
    top    : 0;
    left   : 0;
    width  : 100%;
    height : 100%;
    @include transition-property(visibility);
    @include transition-duration($ani-duration-maincontent-opacity);
    @include transition-timing-function(linear);
}

.subcategory-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition-property(opacity);
    @include transition-duration($ani-duration-maincontent-opacity);
    @include transition-timing-function(linear);
}

.one-D-details-summary-text {
    position : absolute;
    top      : 650px;
    width    : 36%;
    left     : 630px;
    color    : $color-title-text;
    .one-D-summary-title {
        width: 92%;
        line-height: 1.2;
        color       : $color-theme-transparent;
        font-size   : 1.4em;
        font-family : $font-family-medium;
        height      : auto;
        max-height: 95px;
        overflow    : hidden;
        margin-top  : 10px;
        @include display-box;
        @include box-orient(vertical);
        @include line-clamp(2);
    }
    .one-D-summary-pubdate {
        font-weight: 200;
        height : 30px;
        font-size: 0.9em;
        color : $color-meta-secondary-text;
        .time-now-live {
            color: $color-time-live-text;
        }
        .time-upcoming {
            color: $color-time-upcoming-text;
        }
    }
    .one-D-summary-description {
        margin-top: 20px;
        color       : $color-description-text;
        font-size   : 1.0em;
        width: 88%;
        align-items : center;
        @include display-box;
        @include box-orient(vertical);
        overflow: hidden;
        height: auto;
        max-height: 205px;
        text-align: justify;
    }
    .one-D-live-icon {
        background-image: url(assets/live.png);
        height: 44px;
        width: 93px;
        background-position-y: 5px;
        margin-right: 15px;
        background-repeat: no-repeat;
    }
}

.detail-row-container-buttons {
    height : 75px;
    margin : 20px 0;
}

.detail-item-button {
    position : relative;
    width    : 315px;
    height   : 73px;
    padding  : 15px;
    float    : left;
    font-size    : 1.4em;
    margin-right : 20px;
    text-align   : center;
    border       : 1px solid transparent;
}

.detail-item-button-selected {
    @extend .detail-item-button;
    overflow   : hidden;
    margin-top : 0px;
    color            : $color-btn-selected-text;
    background-color : $color-btn-selected-bg;
    border: solid;
    border-color: $color-app-dialog-head-border;
    border-width: 1px;
    @include box-shadow(0px 10px 18px 3px $color-box-shadow);
}

.detail-item-button-static{
    @extend .detail-item-button;
    color      : $color-btn-text;
    background-color : $color-btn-bg;
      line-height: 45px;
}

#one-D-shoveler-container {
    position : absolute;
    top      : 290px;
    left     : 25%;
    width    : 100%;
    height   : 380px;
    z-index  : 20;
    @include transform(translateZ(0));
    @include transition-property-transform-plus(opacity);
    @include transition-property-transform-plus(visibility);
    @include transition-duration(1s);
    @include transition-timing-function(linear);
}

//
// Shoveler View
//
.shoveler-dynamic-row-container {
    position : absolute;
    width    : 1000%;
    height   : 100%;
    left     : 200px;
    overflow : hidden;
    @include transition-property-transform;
    @include transition-duration(1s);
    @include transform(translateX(0));
    @include transition-timing-function(linear);
}

.shoveler-rowitem-selected {
    .shoveler-duration  {
        position : relative;
        top    : -53px;
        left   : 468px;
        width    : 140px;
        height   : 45px;
        z-index  : 700;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0.7);
        color: $color-overlay-text;
        text-align: center;
        vertical-align: bottom;
        border: none;
    }
    .shoveler-duration-text  {
        padding-top: 3%;
    }
}

.shoveler-rowitem-static:not(.shoveler-rowitem-selected){
    .shoveler-duration  {
                display: none;
        } 
}


.shoveler-row-container {
    width  : 95%;
    height : 95%;
    @include transform-style(preserve-3d);
}

.shoveler-rowitem-static {
    position : absolute;
    left     : $pos-left-content-position;
    height   : 95%;
    @include transition-property-transform-plus(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(linear);
    @include transform-origin(left center);
    img {
        height  : 100% !important;
        display : inline-block;
    }
}

//selected elements in the shoveler view
.shoveler-rowitem-selected {
    img {
        background-blend-mode : overlay;
        display : inline-block;
        @include box-shadow(0px 10px 18px 3px rgba(0,0,0,1.0));
        -webkit-box-shadow: $color-theme-box-shadow;
        -moz-box-shadow: $color-theme-box-shadow;
        box-shadow: $color-theme-box-shadow;
        border: 1px solid $color-theme-transparent;
    }
}

.shoveler-subcat-bg {
    width: 91px;
    height: 100%;
    margin-left: -10px;
    display: inline-block;
    background-image: $img-subcat-bg;
}

//
// Player View
//
.player-main-container {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

.player-content-video {
    position : absolute;
    width    : 100%;
    height   : 100%;
    background: black;
}

.player-controls-container {
    position : absolute;
    width    : 100%;
    height   : 12%;
    padding  : 0 8%;
    bottom   : 0;
    opacity  : 0;
    background-color : $color-player-controls-bg;
    @include transition(0.5s);
    z-index: 100;
}

.player-controls-play-pause-button {
    display: none;
    position    : absolute;
    bottom      : 63px;
    left        :  150px;
    height      : 45px;
    width       : 50px;
    margin-top  : 20px;
    z-index: 40000;
    background-image: $img-playing-icon;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.99;
}

.player-controls-timeline-container {
    position   : relative;
    height     : 40px;
    margin-top : 30px;
    width: 110%;
    overflow: hidden;
}

.player-controls-timeline {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 70%;
    height   : 70%;
    border           : 1px solid $color-timeline-border;
    border-radius    : 6px;
    background-color : $color-timeline-bg;
    opacity: 0.8;
    margin-left: 5%;
    overflow: hidden;
}

.player-controls-timeline-playhead {
    position : absolute;
    width  : 0%;
    height : 100%;
    border : 1px solid $color-theme-transparent;
    margin-top       : -1px;
    border-radius    : 6px;
    background-color : $color-theme-transparent;
    margin-left: -0.4%;
}

.player-controls-timeline-thumb {
    position : absolute;
    width  : 2.1%;
    height : 100%;
    border : 1px solid rgba(255, 255, 255, 1.0);
    margin-top       : -1px;
    border-radius:9999px;
    background-color : rgba(255, 255, 255, 1.0);
    opacity: 1;
    margin-left: -2.2%;
}


.player-controls-skip-indicator {
    position : absolute;
    height   : 100px;
    top      : -100px;
    left     : 60px;
    font-size      : 1.8em;
    color          : $color-meta-primary-text;
    display        : flex;
    background-size : 100% 100%;
    background-image: $img-skip-indicator;
    min-width: 200px;
    margin-left: -20px;
    transition: 0.05s;


    img {
        height : 22px;
        width  : 30px;
        margin-left : 25px;
        margin-top  : 30px;
    }

    .player-controls-skip-symbol {
        margin-left : 15px;
        margin-top  : 15px;
    }

    .player-controls-skip-number {
        margin-top  : 15px;
        font-weight : bold;
    }

    .player-controls-skip-text {
        margin-top  : 16px;
        margin-left : 5px;
        margin-right: 20px;
        font-weight : lighter;
    }
}

#forward-indicator {
    display : none;
}

#rewind-indicator {
    display : none;
}

.player-controls-timestamp {
    position: relative;
    margin-top  : -7px;
    font-size        : 1.3em;
    padding-right: 5px;
    left: 77%;
}

.player-controls-timestamp-curtime {
    @extend .player-controls-timestamp;
    color   : $color-meta-secondary-text;
    display : inline-block;
}

.player-controls-timestamp-division {
    @extend .player-controls-timestamp;
    color   : $color-meta-primary-text;
    display : inline-block;
}

.player-controls-timestamp-totaltime {
    @extend .player-controls-timestamp;
    color   : $color-theme-transparent;
    display : inline-block;
}

.player-controls-button-back {
    display : none;
}

.gradient-to-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: block;    
    background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 1.0),  
    rgba(0, 0, 0, 0.0) 85%,
    rgba(0, 0, 0, 0.0) 100%
    );
}

.player-controls-text {
    display: none;
    position    : absolute;
    overflow: auto;
    top      : 715px;
    left     :  530px;
    width       : 60%;
}

.player-controls-content-image {
    display: none;
    position    : absolute;
    bottom      : 175px;
    left        :  160px;
    height      : 180px;
    width       : 310px;
    margin-top  : 20px;
    -webkit-box-shadow: $color-theme-box-shadow;
    -moz-box-shadow: $color-theme-box-shadow;
    box-shadow: $color-theme-box-shadow;
    border: $color-theme-border;
    background-image: $img-icon-search;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.player-controls-content-title {
    height      : auto;
    color       : $color-theme-transparent;
    font-size       : 1.6em;
    font-family   : $font-family-medium;
    overflow    : hidden;
    @include box-orient(vertical);
    @include line-clamp(1);
}

.player-controls-content-subtitle {
    height   : auto;
    color    : $color-description-text;
    font-size: 1.2em;
    padding-top: 7px;
    overflow    : hidden;
    @include display-box;
    @include box-orient(vertical);
    @include line-clamp(2);
}

.watermark {
    display: none;
    position    : absolute;
    bottom      : 170px;
    right       :  175px;
    height      : 100px;
    width       : 105px;
    color       : $color-title-text;
    margin-top  : 20px;
    font-size       : 1.8em;
    font-family   : $font-family-medium;
    overflow    : hidden;
    background-image: $watermark-image;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9999px;
}

//
// Next Video View
//
.next-video-main-container {
    position : absolute;
    height   : 100%;
    width    : 100%;
    left    : 0;
    display  : flex;
    color    : $color-meta-secondary-text;
    background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 1.0),  
    rgba(0, 0, 0, 0.0) 85%,
    rgba(0, 0, 0, 0.0) 100%
    );
}

.next-video-text {
    display: none;
    /*margin-top : 60px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 1.1em;
    color: $color-meta-primary-text;*/
}

.next-video-thumbnail {
    height: 205px;
    width: 205px;
    margin-left: 158px;
    margin-top: 98px;
    img {
        width : 95%;
        height: 95%;
        border: solid 1px $color-thumbnail-border;
        @include display-box;
        border: 1px solid $color-theme-transparent;
        border-radius: 9999px;
    }
}


.next-video-playingtext {
    margin-left : 35px;
    margin-top  : 120px;
    font-size: 48px;
    width: 30%;
}

#next-video-upnext {
    color : $color-theme-transparent;
}
.next-video-title {
    margin-top  : 180px;
    margin-left: -30%;
    float: bottom;
    color       : $color-title-text;
    font-weight : lighter;
    font-size       : 40px;
    width       : 33%;
    overflow: hidden;
}

.next-video-description {
    display: none;
    /*margin-top  : 30px;
    margin-left : 50px;
    overflow    : hidden;
    font-size   :  1.1em;
    color: $color-description-text;
    text-overflow : ellipsis;
    display       : -webkit-box;
    @include line-clamp(5);
    @include box-orient(vertical)*/
}
.next-video-spinner {
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 600;
    border-top: 6px solid $color-theme-transparent;
    border-right: 6px solid $color-theme;
    border-bottom: 6px solid $color-theme;
    border-left: 6px solid $color-theme;
    width:100%;
    @include animation(spin 1.3s infinite linear);
    border-radius: 50%;
    width: 210px;
    height: 210px;
}


//
// Overlay and Spinner
//
 .app-overlay-container {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 500;
    background-color : $color-overlay-bg;
}

.app-overlay-message {
    color      : $color-overlay-text;
    text-align : center;
    margin-top : 25%;
}

.content-load-spinner {
  position: absolute;
  top: 55px;
  right: 70px;
  z-index: 600;
  border-top: 10px solid $color-theme-transparent;
  border-right: 10px solid $color-theme;
  border-bottom: 10px solid $color-theme;
  border-left: 10px solid $color-theme;
  width:90%;
  @include animation(spin 1.3s infinite linear);
}

.content-load-spinner,
.content-load-spinner:after {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.content-load-image {
    display: none;
    position: absolute;
    top: 35%;
    right: 40%;
    z-index: 600;
    background-image: $img-icon-search;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-load-image,
.content-load-image:after {
  border-radius: 50%;
  width: 9em;
  height: 9em;
}


.modal-dialog {
  z-index: 650;
  background-color: $color-app-dialog-bg;
  color: $color-app-dialog-btn-text;
  position: absolute;
  left: 515px;
  top: 30%;
  width: 890px;
  min-height: 500px;
  padding: 60px;
    .dialog-title {
        margin-bottom: 30px;
        font-size   : 48pt;
        font-family : $font-family-medium;
    }
    .dialog-message {
        margin-bottom: 60px;
        font-size   : 36pt;
    }
    .dialog-buttons-container {
        justify-content: center;
        display: flex;
    }
}

@-webkit-keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

//Media queries for tablets
//
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .player-controls-button-back {
        display: none;
        position: absolute;
        //display : block;
        float   : left;
        top     : 18px;
        left    : 40px;
        img {
            display: none;
            height: 50px;
            margin-left: 110px;
        }
    }

    .detail-row-container-buttons {
        bottom : 10px;
    }
}

